* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    .top {
        .right {
            align-items: center;
            text-align: right;

            a {
                text-decoration: none;
                margin-left: 25px;
                color: black;
                font-size: 12px;
            }

            span {
                font-weight: bold;
            }

            i {
                font-size: 14px;
                margin-left: 20px;
                color: red;
            }

            .fa-magnifying-glass {
                padding: 5px;
                border: 1px solid red;
                border-radius: 5px;
            }

        }
    }

    .bottom {
        background-color: #E8ECF1;

        .left1 {
            nav {
                a {
                    padding: 15px 0;
                    display: inline-block;
                    text-decoration: none;
                    margin-left: 20px;
                    color: black;
                    font-size: 12px;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-bottom-color: red;
                    }
                }
            }
        }
    }

    .right1 {
        text-align: right;
    }

    .right1 {
        img {
            cursor: pointer;
            border-radius: 10px;
            opacity: 0.8;
            transition: .3s linear;

            &:hover {
                opacity: 1;
            }
        }
    }
}

section {
    background-color: #E8ECF1;
    padding-bottom: 8%;
    position: relative;

    .left2 {
        a {
            text-decoration: none;
            color: #fff;
            padding: 10px 50px;
            display: inline-block;
            border-radius: 10px;
            font-weight: bold;
            font-style: inherit;
            font-size: 20px;
            background-color: red;
            opacity: 0.6;
            transition: .3s linear;

            &:hover {
                opacity: 1;
            }
        }
    }

    .right2 {
        text-align: right;

        img {
            cursor: pointer;
            transition: .4s;

            &:hover {
                transform: scale(1.07);
            }
        }
    }

}

.section {
    .all1 {
        padding: 30px 65px;
        border-radius: 25px;
        position: absolute;
        left: 15%;
        bottom: 20%;

        .boxes {
            display: flex;
            justify-content: space-between;
            padding: 40px;
            background: #f9fafb;
            border-radius: 8px;
            box-sizing: border-box;

            .box {
                display: flex;
                justify-content: space-between;
                background: #f9fafb;
                border-radius: 8px;
                transition: .45s;

                &:hover {
                    transform: scale(1.08);
                }

                .item {
                    width: 202px;
                    box-shadow: 0 4px 12px hsla(0, 0%, 80%, .45);
                    border-radius: 8px;
                    background-color: #fff;
                    padding: 26px 0;
                    margin-right: 15px;
                    text-align: center;
                    display: block;
                    transition: .3s linear;
                }

                a {
                    text-decoration: none;

                    &:visited {
                        color: inherit
                    }
                }
            }
        }
    }


}

.cart-section {
    .sections {
        position: relative;
        margin-top: 200px;

        .top3 {
            margin-bottom: 40px;

            p {
                max-width: 500px;
            }
        }

        .bottom3 {
            background-color: #E8ECF1;
            padding: 50px;

            ul {
                max-width: 63%;
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                padding-left: 0;

                li {
                    font-size: 16px;
                    line-height: 24px;

                    span {
                        display: block;
                        color: #f45369;
                        font-family: SourceSansProSemiBold;
                        font-size: 28px;
                        line-height: 35px;
                        margin-bottom: 5px;
                        font-weight: bold;
                    }
                }

            }

            a {
                width: 280px;
                background-color: #f45369;
                border-radius: 8px;
                display: inline-block;
                padding: 11px 20px 14px;
                font-size: 24px;
                color: #fff !important;
                line-height: 30px;
                text-align: center;
                border: none;
                cursor: pointer;
                transition: .3s linear;
                opacity: 0.6;

                &:hover {
                    opacity: 1;

                }
            }
        }
    }
}

.cards_section-image {
    position: absolute;
    right: 25%;
    top: 5%;
}